<h1>New social_contract</h1>

<div>Choose vote type</div>
<div>* Only the referendum type voting is currently enabled *</div>

<%= render 'form' %>

<h2>Add a referendum vote</h2>

<%= link_to 'Back', social_contracts_path %>

